@import url('/src/fonts/goudy_bookletter/stylesheet.css');

body {
  font-family: 'Goudy Bookletter';
}

h1,
h2 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #e67f00ad;
}

p, ul, li {
  font-weight: 300;
}

.index__main {
  display: flex;
  justify-content: center;
}

.index__content {
  width: 50%;
}
