@import url('../fonts/Inter\ Web/inter.css');

body {
  font-family: 'Inter';
}

a {
  text-decoration: none;
  color: #e67f00ad;
}

.index__main {
  display: flex;
  justify-content: center;
}

.index__content {
  width: 50%;
}
