@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.post {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
}

.post__body {
    padding: 2em 0;
    width: 50%;
}

.post__content {
    font-size: x-large;
    margin: 2em 0;
}

.post__nav {
    float: right;
}

.post img {
    width: 100%;
}
