.post {
  display: flex;
  justify-content: center;
}

.post__back_link {
  font-size: large;
  font-weight: 500;
}

.post__date {
  font-weight: 200;
}

.post__nav {
  float: right;
}

.post__body {
  padding: 2em 0;
  width: 50%;
}

.post__content {
  margin: 2em 0;
}

.post__content {
  line-height: 1.8rem;
}

.post__content img {
  width: 100%;
}

.post__content blockquote {
  color: rgba(0, 0, 0, 0.5);
}

.post__content blockquote p::before {
  content: "« ";
}

.post__content blockquote p::after{
  content: " »";
}